div.poll_container {
	border: 1px sold grey;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	padding: 6px;
	margin: 6px 0;
}
span.poll_question {
	font-weight: bold;
	margin: 0 0 6px;
	display: block;
}
span.poll_option {
	color: #0000ff;
}
span.poll_votes {
	margin-left: 5px;
	color: #6DC64B;
}
span.poll_bar_empty {
	margin-right: 10px;
	width: 100px;
	padding: 0;
	background: #D9D9D9;
	border: 1px solid grey;
}
span.poll_bar_full {
	background: #6DC64B;
	height: 8px;
}
input.poll_vote_button {
	float: right;
}
.poll_voter {
	font-weight: bold;
    font-size: 70%
}
.poll_answers {
    font-weight: bold;
    font-size: 70%
}
.poll_voter_list {
	margin: 6px 0 0;
}
